<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Incidencia</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cliente-formulario-id.css}">
</head>
<body>

    <h1>Consultar Estado de Incidencia</h1>

    <p>Introduce el ID de la incidencia que deseas consultar.</p>

    <div class="form-consulta">
        <form th:action="@{/cliente/consultar-incidencia/id}" method="post">

            <label for="idIncidencia">Introduce el ID de la incidencia:</label>
            <input type="text" id="idIncidencia" name="idIncidencia" required/>
            <br/>

            <button type="submit">Consultar</button>
        </form>
    </div>

    <p>
        <a href="/inicio">Volver al inicio</a>
    </p>

</body>
</html>