<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Inicio - ' + ${usuario.nombre}">Inicio - Nombre de Usuario</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-inicios.css}">
</head>
<body>
    <div class="main-container">
        <h1>Dashboard de Técnico</h1>

        <p th:if="${usuario}">Bienvenido, <span th:text="${usuario != null ? usuario.nombre : 'Usuario'}">Usuario</span>!</p>
        <p th:unless="${usuario}">Bienvenido al Dashboard de Técnico.</p>

        <h2>Funcionalidades Disponibles:</h2>
        <ul>
            <li><a href="/tecnico/incidencias-asignadas">Ver incidencias asignadas</a></li>
            <li><a href="/tecnico/marcar-resuelta/elegir-incidencia">Marcar la incidencia como resuelta (añadir descripción de resolución)</a></li>
            <li><a href="/tecnico/cambiar-estado/elegir-incidencia">Cambiar estado</a></li>
        </ul>

        <p class="logout"><a href="/logout">Cerrar Sesión</a></p>
    </div>
</body>
</html>