<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Inicio - ' + (${usuario != null ? usuario.nombre : 'Usuario'})">Inicio - Nombre de Usuario</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-inicios.css}">
</head>
<body>
    <div class="main-container">
        <h1>Dashboard de Administrador</h1>

        <p th:if="${usuario}">Bienvenido, <span th:text="${usuario != null ? usuario.nombre : 'Usuario'}">Usuario</span>!</p>
        <p th:unless="${usuario}">Bienvenido al Dashboard de Administrador.</p>

        <h2>Funcionalidades Disponibles:</h2>
        <ul>
            <li><a href="/admin/gestion-usuarios">Alta/baja/modificación de usuarios (clientes/técnicos)</a></li>
            <li><a href="/admin/asignar-incidencia">Asignación manual de incidencias a técnicos</a></li>
            <li><a href="/admin/verIncidencias">Visualización de todos los tickets</a></li>
        </ul>

        <p class="logout"><a href="/logout">Cerrar Sesión</a></p>
    </div>
</body>
</html>